
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= full_title('API v1') %></title>

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
<!--  <link rel="stylesheet" href="style/styleh5bp.css"> -->


  <%= stylesheet_link_tag "developer", media: "all" %>
  <%= csrf_meta_tags %>
</head>


<body id="top">
  <!-- BRANDING = LOGO, CLAIM -->
  <div id="brand">
    <h1>One Spark Developer API</h1>
  </div>

     <!-- DIE NAVIGATION -->
  <nav>
    <ul>
    <li><a href="#users">Genereal</a>
      <ul>
        <li><a href="#uri">URI API v1</a></li>
        <li><a href="#basic_auth">Basic Authentification</a></li>
      </ul>
    <li><a href="#users">users api</a>
      <ul>
        <li><a href="#get_user">get singel user</a></li>
        <li><a href="#get_auth_user">get authenticated user</a></li>
        <li><a href="#create_user">create new user</a></li>
        <li><a href="#update_user">update authenticated user</a></li>
        <li><a href="#update_user_profile">update authenticated users profile</a></li>
        <li><a href="#delete_user">delete authenticated user</a></li>
      </ul>
    </li>
    <li><a href="#projects">projects api</a>
      <ul>
        <li><a href="#get_projects">get users projects</a></li>
        <li><a href="#get_project">get single project</a></li>
        <li><a href="#create_project">create new project</a></li>
        <li><a href="#update_project">update project</a></li>
        <li><a href="#delete_project">delete project</a></li>
      </ul>
    </li>

    </ul>
  </nav>
    <div id="signin">
    </div>



<div id="main">
  <section id="users">
    <h1>General</h1>
    <hr/>

    <article id="uri">
        <h3>URI API v1</h3>
        <pre><code>http://api.onespark.de/api/v1</code></pre>
    </article>

    <article id="basic_auth">
        <h3>Basic Authentification</h3>
        <pre><code>HEADER "Authorization: Basic username:password (base64 encoded)"</code></pre>
    </article>
    <hr/>
  </section>

  <section id="users">
    <h1>Users API</h1>
    <hr/>
      <article id="get_user">
        <h3>Get a single user</h3>
        <code>GET /users/:username</code>
        <pre><strong>Response</strong>
          <code class="language-javascript">
  Status 200 OK
  {
    "username": "bob",
    "email": "bob@me.com",
    "profile":{
      "forename":"Bob",
      "surname":"van Tester",
      "city":"Canterbury",
      "about":"Der Titel dieses Artikels ist mehrdeutig",
      "avatar_url":"http//:api.onespark.de/avatar-bob.jpg"
    }
  }
          </code>
        </pre>
    </article>
    <hr/>

    <article id="get_auth_user">
        <h3>Get the authenticated user</h3>
        <code>GET /user</code>
        <p>Returns the authenticated user based on the authentication credentials</p>
        <pre><strong>Response</strong>
          <code class="language-javascript">
  Status 200 OK
  {
    "username": "bob",
    "email": "bob@me.com",
    "projects": [
      {
        "id":5,
        "title":"Testfertsch",
        "desc":"A sample project",
        "due_date":"2012-12-01T00:00:00+01:00"
      },{
        "id":6,
        "title":"Nonichfertsch",
        "desc":"A second sample project",
        "due_date":"2012-11-01T00:00:00+01:00"
      }],
    "contacts": [
      { "username":"luigi" }
    ],
    "profile":{
      "forename":"Bob",
      "surname":"van Tester",
      "city":"Canterbury",
      "about":"Der Titel dieses Artikels ist mehrdeutig",
      "avatar_url":"http//:api.onespark.de/avatar-bob.jpg"
    }
  }
          </code>
        </pre>
    </article>
    <hr/>

    <article id="create_user">
      <h3>Create a new user</h3>
        <code>POST /users</code>
        <pre><strong>Input</strong>
          <code>
  <strong>username</strong> - required string
  <strong>password</strong> - required string
  <strong>password_confirmation</strong> - required string
  <strong>email</strong> - required string
          </code>
        </pre>
        <pre><strong>Response</strong>
        <code class="language-javascript">
  Status 201 CREATED
  {
    "username": "luigi",
    "email": "luigi@me.com",
    "projects": [],
    "contacts": [],
    "profile": []
  }
        </code>
      </pre>

    </article>
    <hr/>

    <article id="update_user">
      <h3>Update the authenticated user</h3>
        <code>PUT /user</code>
        <pre><strong>Input</strong>
          <code>
  <strong>username</strong> - optional string
  <strong>email</strong> - optional string
          </code>
        </pre>
        <pre><strong>Response</strong>
          <p>Returns the changed user with profile</p>
        <code class="language-javascript">
  Status 200
  {
    "username": "bob",
    "email": "bob@me.com",
    "projects": [
      {
        "id":5,
        "title":"Testfertsch",
        "desc":"A sample project",
        "due_date":"2012-12-01T00:00:00+01:00"
      },{
        "id":6,
        "title":"Nonichfertsch",
        "desc":"A second sample project",
        "due_date":"2012-11-01T00:00:00+01:00"
      }],
    "contacts":[],
    "profile": []
  }
        </code>
      </pre>
    </article>

    <hr/>

    <article id="update_user_profile">
      <h3>Update authenticated users profile</h3>
        <code>PUT /user/profile</code>
        <pre><strong>Input</strong>
          <code>
  <strong>forename</strong> - optional string
  <strong>surname</strong> - optional string
  <strong>city</strong> - optional string
  <strong>about</strong> - optional string
          </code>
        </pre>
        <pre><strong>Response</strong>
          <p>Returns the changed user</p>
        <code class="language-javascript">
  Status 200
  {
    "username": "bob",
    "email": "bob@me.com",
    "projects": [
      {
        "id":5,
        "title":"Testfertsch",
        "desc":"A sample project",
        "due_date":"2012-12-01T00:00:00+01:00"
      },{
        "id":6,
        "title":"Nonichfertsch",
        "desc":"A second sample project",
        "due_date":"2012-11-01T00:00:00+01:00"
      }],
    "contacts":[],
    "profile": {
        "forename": "Bosse",
        "surname": "Miller",
        "city": null,
        "about": null,
        "avatar_url": null
    }
  }
        </code>
      </pre>
    </article>
    <hr/>

    <article id="delete_user">
      <h3>Delete the authenticated user</h3>
        <code>DELETE /user</code>
        <pre><strong>Response</strong>
        <code class="language-javascript">
  Status 204 NO CONTENT
        </code>
      </pre>
    </article>

  </section>

    <hr/>
  <section id="projects">
    <h1>Projects API</h1>
    <hr/>

    <article id="get_projects">
        <h3>Get users projects</h3>
        <code>GET /user/projects</code>
        <pre><strong>Response</strong>
          <code class="language-javascript">
  Status 200 OK
  [
    {
      "id":7,
      "title":"Testfertsch",
      "desc":"testdescr",
      "due_date":null
    },
    {
      "id":5,
      "title":"Test from post",
      "desc":"Test from put",
      "due_date":"2012-12-12T00:00:00+01:00"
    }
  ]
          </code>
        </pre>
    </article>
    <hr/>

    <article id="get_project">
        <h3>Get single project</h3>
        <code>GET /projects/:id</code>
        <pre><strong>Response</strong>
          <code class="language-javascript">
  Status 200 OK
  {
    "id":2,
    "title":"Testfertsch",
    "desc":"testdescr",
    "due_date":"2012-12-01T00:00:00+01:00",
    "coworkers":[{
        "username":"bob"
      }],
    "updated_at":"2012-10-26T12:04:50+02:00",
    "owner":"luigi"
  }
          </code>
        </pre>
    </article>

        <hr/>

    <article id="create_project">
        <h3>Create new project</h3>
        <code>POST /user/projects</code>
        <pre><strong>Input</strong>
          <code>
  <strong>title</strong> - required string
  <strong>desc</strong> - optional string
  <strong>due_date</strong> - optional string
          </code>
        </pre>
        <pre><strong>Response</strong>
          <code class="language-javascript">
  Status 201 OK
  {
    "id":3,
    "title":"Testtitle 2",
    "desc":"Description",
    "due_date":"2012-12-01T00:00:00+01:00",
    "coworkers":[],
    "updated_at":"2012-11-07T12:28:24+01:00",
    "owner":"bob"
  }
          </code>
        </pre>
    </article>

        <hr/>

    <article id="update_project">
        <h3>Update project</h3>
        <code>PUT projects/:id</code>
        <pre><strong>Input</strong>
          <code>
  <strong>:id</strong> - required project id
  <strong>title</strong> - optional string
  <strong>desc</strong> - optional string
  <strong>due_date</strong> - optional string
          </code>
        </pre>
        <pre><strong>Response</strong>
          <code class="language-javascript">
  Status 200 OK
  {
    "id":3,
    "title":"Changed Title",
    "desc":"Bobs new project",
    "due_date":"2012-12-01T00:00:00+01:00",
    "coworkers":[],
    "updated_at":"2012-11-07T12:37:39+01:00",
    "owner":"bob"
  }
          </code>
        </pre>
    </article>

    <hr/>

    <article id="delete_project">
        <h3>Delete project</h3>
        <code>DELETE projects/:id</code>
        <pre><strong>Input</strong>
          <code>
  <strong>:id</strong> - required project id
          </code>
        </pre>
        <pre><strong>Response</strong>
          <code class="language-javascript">
  Status 200 OK
  {
    "message":"Project deleted."
  }
          </code>
        </pre>
    </article>

    <hr/>
  </section>

</div>


</body>
</html>

