
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= full_title('API v1') %></title>

  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
<!--  <link rel="stylesheet" href="style/styleh5bp.css"> -->


  <%= stylesheet_link_tag "developer", media: "all" %>
  <%= csrf_meta_tags %>
</head>


<body id="top">
  <!-- BRANDING = LOGO, CLAIM -->
  <div id="brand">
    <h1>One Spark Developer API</h1>
  </div>

     <!-- DIE NAVIGATION -->
  <nav id="top">
    <ul>
    <li><a href="#general">Genereal</a>
      <ul>
        <li><a href="#uri">URI API v1</a></li>
        <li><a href="#basic_auth">Basic Authentification</a></li>
      </ul>
    <li><a href="#users">Users API</a>
      <ul>
        <li><a href="#get_user">Get singel user</a></li>
        <li><a href="#get_auth_user">Get auth user</a></li>
        <li><a href="#create_user">Create new user</a></li>
        <li><a href="#update_user">Update auth user</a></li>
        <li><a href="#delete_user">Delete auth user</a></li>
      </ul>
    </li>
    <li><a href="#profiles">Profiles API</a>
      <ul>
        <li><a href="#get_profile">Get users profile</a></li>
        <li><a href="#update_profile">Update users profile</a></li>
      </ul>
    </li>
    <li><a href="#contacts">Contacts API</a>
      <ul>
        <li><a href="#get_contact">Get contact</a></li>
        <li><a href="#get_contacts_ids">Get Contacts By Ids</a></li>
        <li><a href="#create_contact">Create contact</a></li>
        <li><a href="#delete_contact">Delete contact</a></li>
      </ul>
    </li>
    <li><a href="#projects">Projects API</a>
      <ul>
        <li><a href="#get_project">Get single project</a></li>
        <li><a href="#create_project">Create new project</a></li>
        <li><a href="#update_project">Update project</a></li>
        <li><a href="#delete_project">Delete project</a></li>
      </ul>
    </li>
    <li><a href="#project-coworkers">Project Coworkers API</a>
      <ul>
        <li><a href="#get_project_coworker">Get project coworker</a></li>
        <li><a href="#create_project_coworker">Create project coworker</a></li>
        <li><a href="#update_project_coworker">Update project coworker</a></li>
        <li><a href="#delete_project_coworker">Delete project coworker</a></li>
      </ul>
    </li>
    <li><a href="#tasks">Tasks API</a>
      <ul>
        <li><a href="#get_tasks">Get project tasks</a></li>
        <li><a href="#get_tasks_ids">Get tasks by ids</a></li>
        <li><a href="#get_task">Get single task of project</a></li>
        <li><a href="#create_task">Create new task for project</a></li>
        <li><a href="#update_task">Update task</a></li>
        <li><a href="#delete_task">Delete task</a></li>
      </ul>
    </li>

    <li><a href="#ts">TimeSessions API</a>
      <ul>
        <li><a href="#get_ts">Get singe TimeSession</a></li>
        <li><a href="#get_ts_ids">Get TimeSessions by ids</a></li>
        <li><a href="#get_ts_task">Get all TimeSessions by Task</a></li>
        <li><a href="#get_ts_user">Get all TimeSessions by User</a></li>
        <li><a href="#create_ts">Create new TimeSession for Task</a></li>
        <li><a href="#update_ts">Update TimeSession</a></li>
        <li><a href="#delete_ts">Delete TimeSession</a></li>
      </ul>
    </li>

    </ul>
  </nav>
    <div id="signin">
    </div>



<div id="main">

  <!-- ////////// General ///////// -->
  <section id="general">
    <h2>General</h2>

    <article id="uri">

        <h3>URI API v1</h3>
        <pre><code>http://api.onespark.de/api/v1</code></pre>
    </article>

    <article id="basic_auth">
        <h3>Basic Authentification </h3>
        <pre><code>HEADER "Authorization: Basic username:password (base64 encoded)"</code></pre>
    </article>
  </section>

  <!-- ////////// Users ///////// -->
  <section id="users">
    <h2>Users API</h2>

<a href="#top">&uarr; Top</a>

  <!-- ////////// Get User ///////// -->
      <article id="get_user">
        <h3>Get a user</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /users/:username</code></pre>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
  "user":
  {
    "id":1,
    "username":"bob",
    "email":"bob@testme.com",
    "profile_id":1,
  }
}</code></pre>
    </article>

  <!-- ////////// Get Auth User ///////// -->
    <article id="get_auth_user">
        <h3>Get the auth user</h3>
        <p>Returns the auth user based on the auth credentials</p>
        <p><strong>Request</strong></p>
        <code><pre>GET /user || Get /users/:your_id</pre></code>

        <p><strong>Request</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
  "user":
  {
    "id":1,
    "username":"bob",
    "email":"bob@testme.com",
    "profile_id":1,
    "owned_project_ids":[76, 6, 61, 82, 92, 123, 120, 119, 78, 85],"collaborated_project_ids":[124,8],"project_coworker_ids":[55, 7],"contact_ids":[4, 9]
  }
}</code></pre>
    </article>

<!--- //////////// Create User ///////////////// -->
    <article id="create_user">
        <h3>Create a User</h3>
        <p><strong>Request</strong></p>
        <code><pre>POST /users </pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"user":{ :params }}
  <strong>username</strong> - required string
  <strong>password</strong> - required string
  <strong>password_confirmation</strong> - required string
  <strong>email</strong> - required string
          </code></pre>
        <p><strong>Response</strong></p>
        <pre class="headers">Status 201 CREATED</pre>
    <pre><code class="language-javascript">
{
    "user": {
        "id": 17,
        "username": "wuppi123",
        "email": "test@onespark.de",
        "profile_id": 14,
        "contact_ids": []
    }
}
        </code></pre>
    </article>


<!--- //////////// Update User ///////////////// -->
    <article id="update_user">
      <h3>Update the auth user</h3>
      <p><strong>Request</strong></p>
        <code><pre>PUT /user</pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"user":{ :params }}
  <strong>username</strong> - optional string
  <strong>email</strong> - optional string
          </code>
        </pre>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
  "user":
  {
    "id":1,
    "username":"bob",
    "email":"bob@testme.com",
    "profile_id":1,
    "owned_project_ids":[76, 6, 61, 82, 92, 123, 120, 119, 78, 85],"collaborated_project_ids":[124,8],"project_coworker_ids":[55, 7],"contact_ids":[4, 9]
  }
}</code></pre>
    </article>

<!--- //////////// Delete User ///////////////// -->
        <article id="delete_user">
      <h3>Delete the auth user</h3>
      <p><strong>Request</strong></p>
        <code><pre>DELETE /users/:id</pre></code>
        <p><strong>Response</strong>
        <pre class="headers no-response">Status 204 NO CONTENT</pre>
      </pre>

    </article>

</section>

  <!-- ////////// Profiles ///////// -->
  <section id="profiles">
    <h2>Profiles API</h2>
<a href="#top">&uarr; Top</a>
  <!--- //////////// Get Profile ///////////////// -->
    <article id="get_profile">
      <h3>Get users profile</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /profiles/:id</pre></code>

        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "profile": {
        "id": 14,
        "forename": "wuppi123",
        "surname": surname,
        "city": city,
        "about": about,
        "avatar_url": avatar_url,
        "user_id": 17
    }
}
        </code>
      </pre>

    </article>

<!--- //////////// Update Profile ///////////////// -->
    <article id="update_profile">
      <h3>Update users profile</h3>
        <p><strong>Request</strong></p>
        <code><pre>PUT /profiles/:id</pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"profile":{ :params }}
  <strong>forename</strong> - optional string
  <strong>surname</strong> - optional string
  <strong>city</strong> - optional string
  <strong>about</strong> - optional string
          </code>
        </pre>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
  "profile": {
      "id": 14,
      "forename": "wuppi123",
      "surname": surname,
      "city": city,
      "about": about,
      "avatar_url": avatar_url,
      "user_id": 17
  }
}
        </code>
      </pre>

    </article>
  </section>

  <!-- ////////// Contact ///////// -->
  <section id="contacts">
    <h2>Contacts API</h2>
<a href="#top">&uarr; Top</a>

<!-- ////////// Get Contact ///////// -->
    <article id="get_contact">
        <h3>Get Contact</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /contacts/:id</pre></code>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "contact":
    {
        "id": 3,
        "user_id": 2,
        "contact_id": 3
        "status": {"pending" | "requested" | "accepted"}
    }
}</code></pre>

    </article>

    <!-- ////////// Get Contact by ID///////// -->
    <article id="get_contacts_ids">
        <h3>Get Contacts By Ids</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /contacts?:ids=:id1,id2</pre></code>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
    {
    "contacts": [{
        "id": 1,
        "user_id": 2,
        "contact_id": 1,
        "status": {"pending" | "requested" | "accepted"}
    }, {
        "id": 2,
        "user_id": 2,
        "contact_id": 3,
        "status": {"pending" | "requested" | "accepted"}
    }]
}</code></pre>

    </article>

<!-- ////////// Create Contact ///////// -->
    <article id="create_contact">
        <h3>Create Contact</h3>
        <p><strong>Request</strong></p>
        <code><pre>POST /contacts </pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"contact":{ :params }}
  <strong>contact_id</strong> - required integer
          </code></pre>
        <p><strong>Response</strong>
        <pre class="headers">Status 201 CREATED</pre>
    <pre><code class="language-javascript">
{
    "contact":
    {
        "id": 3,
        "user_id": 2,
        "contact_id": 3
        "status": {"pending" | "requested" | "accepted"}
    }
}</code></pre>

    </article>

<!--- //////////// Delete Contact ///////////////// -->
        <article id="delete_contact">
      <h3>Delete Contact</h3>
      <p><strong>Request</strong></p>
        <code><pre>DELETE /contacts/:id</pre></code>
        <p><strong>Response</strong>
        <pre class="headers no-response">Status 204 NO CONTENT</pre>
      </pre>

    </article>

</section>




<!-- ////////// Projects ///////// -->
  <section id="projects">
    <h2>Projects API</h2>
<a href="#top">&uarr; Top</a>

<!-- ////////// Get Project ///////// -->
    <article id="get_project">
        <h3>Get single project</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /projects/:id</pre></code>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
  "project": {
      "id": 7,
      "desc": "Bobs new project",
      "due_date": null,
      "title": "Test 2",
      "owner_id": 2,
      "project_coworker_ids": [],
      "task_ids": [3]
  }
}</code></pre>

    </article>

<!-- ////////// Create Project ///////// -->
    <article id="create_project">
        <h3>Create new project</h3>
        <p><strong>Request</strong></p>
        <code><pre>POST /projects </pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"project":{ :params }}
  <strong>title</strong> - required string
  <strong>desc</strong> - optional integer
  <strong>due_date</strong> - optional integer
          </code></pre>
        <p><strong>Response</strong>
        <pre class="headers">Status 201 CREATED</pre>
    <pre><code class="language-javascript">
{
    "project": {
        "id": 6,
        "desc": null,
        "due_date": null,
        "title": "My new homepage",
        "contributors": [],
        "tasks": []
    }
}
          </code>
        </pre>

    </article>

<!-- /////////// Update Project //////////// -->

    <article id="update_project">
      <h3>Update project</h3>
        <p><strong>Request</strong></p>
        <code><pre>PUT /projects/:id</pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"project":{ :params }}
  <strong>title</strong> - required string
  <strong>desc</strong> - optional integer
  <strong>due_date</strong> - optional integer
          </code></pre>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "project": {
        "id": 6,
        "desc": My homepage should be pretty,
        "due_date": null,
        "title": "My new homepage",
        "contributors": [],
        "tasks": []
    }
}
        </code>
      </pre>
    </article>

<!--- //////////// Delete Project ///////////////// -->
        <article id="delete_project">
      <h3>Delete a project</h3>
      <p><strong>Request</strong></p>
        <code><pre>DELETE /projects/:id</pre></code>
        <p><strong>Response</strong>
        <pre class="headers no-response">Status 204 NO CONTENT</pre>
      </pre>

    </article>

</section>



  <!-- ////////// Project Coworkers ///////// -->
  <section id="project-coworkers">
    <h2>Project coworkers API</h2>
<a href="#top">&uarr; Top</a>

<!-- ////////// Get Project Coworker ///////// -->
    <article id="get_project_coworker">
        <h3>Get single project coworker</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /project_coworkers/:id</pre></code>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "project_coworker": {
        "id": 13,
        "user_id": 1,
        "project_id": 7,
        "permission": 2
    }
}</code></pre>

    </article>

<!-- ////////// Create Project Coworker ///////// -->
    <article id="create_project_coworker">
        <h3>Create project coworker</h3>
        <p><strong>Request</strong></p>
        <code><pre>POST /project_coworkers </pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"project_coworker":{ :params }}
  <strong>user_id</strong> - required string
  <strong>project_id</strong> - required integer
  <strong>permission</strong> - required integer
          </code></pre>
        <p><strong>Response</strong>
        <pre class="headers">Status 201 CREATED</pre>
    <pre><code class="language-javascript">
{
    "project_coworker": {
        "id": 16,
        "user_id": 2,
        "project_id": 7,
        "permission": 2
    }
}</code></pre>

    </article>

<!-- /////////// Update Project Coworker //////////// -->

    <article id="update_project_coworker">
      <h3>Update project coworker</h3>
        <p><strong>Request</strong></p>
        <code><pre>PUT /project_coworkers/:id</pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"project_coworker":{ :params }}
  <strong>user_id</strong> - required string
  <strong>project_id</strong> - required integer
  <strong>permission</strong> - required integer
          </code></pre>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "project_coworker": {
        "id": 16,
        "user_id": 2,
        "project_id": 7,
        "permission": 1
    }
}</code></pre>
    </article>

<!--- //////////// Delete Project Coworker ///////////////// -->
        <article id="delete_project_coworkerk">
      <h3>Delete a project coworker</h3>
      <p><strong>Request</strong></p>
        <code><pre>DELETE /project_coworkers/:id</pre></code>
        <p><strong>Response</strong>
        <pre class="headers no-response">Status 204 NO CONTENT</pre>
      </pre>

    </article>

</section>




  <!-- ////////// Tasks ///////// -->
  <section id="tasks">
    <h2>Tasks API</h2>
<a href="#top">&uarr; Top</a>

<!-- ////////// Get Task ///////// -->
    <article id="get_task">
        <h3>Get single task</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /tasks/:id</pre></code>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "task": {
        "id": 3,
        "due_date": null,
        "title": "Is that all?",
        "desc": null,
        "project_id": 7,
        "completed": false,
        "completed_at": null,
        "completed_by": null,
        "estimated_hours": null,
        "worked_hours": null,
        "comment_ids": [2],
        "creator_id": 2,
        "worker_id": 3
    }
}</code></pre>

    </article>


  <!-- ////////// Get Tasks by ids ///////// -->
  <article id="get_tasks_ids">
      <h3>Get Tasks by ids</h3>
      <p><strong>Request</strong></p>
      <code><pre>GET /tasks?ids=:id1,:id3 </pre></code>
      <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "tasks": [{
        "id": 1,
        "due_date": null,
        "title": "new title yeah",
        "desc": "",
        "project_id": 5,
        "completed": false,
        "completed_at": null,
        "completed_by": null,
        "estimated_hours": null,
        "worked_hours": null,
        "comment_ids": [1],
        "creator_id": 2,
        "worker_id": 2
    }, {
        "id": 3,
        "due_date": null,
        "title": "Is that all?",
        "desc": null,
        "project_id": 7,
        "completed": false,
        "completed_at": null,
        "completed_by": null,
        "estimated_hours": null,
        "worked_hours": null,
        "comment_ids": [2],
        "creator_id": 2,
        "worker_id": 3
    }]
}</code></pre>

    </article>

<!-- ////////// Create Task ///////// -->
    <article id="create_task">
        <h3>Create new task</h3>
        <p><strong>Request</strong></p>
        <code><pre>POST /tasks </pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"task":{ :params }}
  <strong>title</strong> - required string
  <strong>project_id</strong> - required integer
  <strong>worker_id</strong> - optional integer
  <strong>desc</strong> - optional integer
  <strong>due_date</strong> - optional integer
          </code></pre>
        <p><strong>Response</strong>
        <pre class="headers">Status 201 CREATED</pre>
    <pre><code class="language-javascript">
{
    "task": {
        "id": 13,
        "due_date": null,
        "title": "wuppi123",
        "desc": null,
        "project_id": 7,
        "completed": false,
        "completed_at": null,
        "completed_by": null,
        "estimated_hours": null,
        "worked_hours": null,
        "comment_ids": [],
        "creator_id": 2,
        "worker_id": null
    }
}</code></pre>

    </article>

<!-- /////////// Update Task //////////// -->

    <article id="update_task">
      <h3>Update task</h3>
        <p><strong>Request</strong></p>
        <code><pre>PUT /tasks/:id</pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"task":{ :params }}
  <strong>title</strong> - required string
  <strong>project_id</strong> - optional integer
  <strong>worker_id</strong> - optional integer
  <strong>desc</strong> - optional integer
  <strong>due_date</strong> - optional integer
          </code></pre>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "task": {
        "id": 13,
        "due_date": null,
        "title": "wuppi hin wuppi her",
        "desc": null,
        "project_id": 7,
        "completed": false,
        "completed_at": null,
        "completed_by": null,
        "estimated_hours": null,
        "worked_hours": null,
        "comment_ids": [],
        "creator_id": 2,
        "worker_id": 1
    }
}
        </code>
      </pre>
    </article>

<!--- //////////// Delete Task ///////////////// -->
        <article id="delete_task">
      <h3>Delete a task</h3>
      <p><strong>Request</strong></p>
        <code><pre>DELETE /tasks/:id</pre></code>
        <p><strong>Response</strong>
        <pre class="headers no-response">Status 204 NO CONTENT</pre>
      </pre>

    </article>

</section>

  <!-- ////////// TimeSessions ///////// -->
  <section id="ts">
    <h2>TimeSessions API</h2>
<a href="#top">&uarr; Top</a>

<!-- ////////// Get single TimeSessions ///////// -->
    <article id="get_ts">
        <h3>Get single TimeSessions</h3>
        <p><strong>Request</strong></p>
        <code><pre>GET /time_sessions/:id</pre></code>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "time_session": {
        "id": 1,
        "start": "2013-01-12T11:11:44+01:00",
        "end": "2013-01-12T14:21:45+01:00",
        "task_id": 1,
        "user_id": 2
    }
}</code></pre>

    </article>

<!-- ////////// Get TimeSessions by ids ///////// -->
  <article id="get_ts_ids">
      <h3>Get TimeSessions by id</h3>
      <p><strong>Request</strong></p>
      <code><pre>GET /time_sessions?ids=:id1,id2</pre></code>
      <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "time_sessions": [{
        "id": 1,
        "start": "2013-01-12T11:11:44+01:00",
        "end": "2013-01-12T14:21:45+01:00",
        "task_id": 1,
        "user_id": 2
    }, {
        "id": 2,
        "start": "2013-01-12T14:33:00+01:00",
        "end": "2013-01-12T15:00:00+01:00",
        "task_id": 1,
        "user_id": 2
    }]
}</code></pre>

  </article>

<!-- ////////// Get TimeSessions of task ///////// -->
  <article id="get_ts_task">
      <h3>Get all TimeSessions by Task</h3>
      <p><strong>Request</strong></p>
      <code><pre>GET /time_sessions?task_id=:task_id</pre></code>
      <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "time_sessions": [{
        "id": 1,
        "start": "2013-01-12T11:11:44+01:00",
        "end": "2013-01-12T14:21:45+01:00",
        "task_id": 1,
        "user_id": 2
    }, {
        "id": 2,
        "start": "2013-01-12T14:33:00+01:00",
        "end": "2013-01-12T15:00:00+01:00",
        "task_id": 1,
        "user_id": 2
    }]
}</code></pre>

  </article>

  <!-- ////////// Get TimeSessions of user ///////// -->
  <article id="get_ts_user">
      <h3>Get all TimeSessions by User</h3>
      <p><strong>Request</strong></p>
      <code><pre>GET /time_sessions</pre></code>
      <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "time_sessions": [{
        "id": 1,
        "start": "2013-01-12T11:11:44+01:00",
        "end": "2013-01-12T14:21:45+01:00",
        "task_id": 4,
        "user_id": 2
    }, {
        "id": 5,
        "start": "2013-01-12T14:33:00+01:00",
        "end": "2013-01-12T15:00:00+01:00",
        "task_id": 1,
        "user_id": 2
    }]
}</code></pre>

  </article>

<!-- ////////// Create TimeSession ///////// -->
    <article id="create_ts">
        <h3>Create new TimeSessions for task</h3>
        <p><strong>Request</strong></p>
        <code><pre>POST /time_sessions </pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"time_session":{ :params }}
  <strong>task_id</strong> - required Integer
  <strong>start</strong> - required DateTime
  <strong>end</strong> - optional DateTime
          </code></pre>
        <p><strong>Response</strong>
        <pre class="headers">Status 201 CREATED</pre>
    <pre><code class="language-javascript">
{
    "time_session": {
        "id": 7,
        "start": "2001-01-13T12:00:00+01:00",
        "end": null,
        "task_id": 1,
        "user_id": 2
    }
}</code></pre>

    </article>

<!-- /////////// Update TimeSession //////////// -->

    <article id="update_ts">
      <h3>Update TimeSession</h3>
        <p><strong>Request</strong></p>
        <code><pre>PUT /time_session/:id</pre></code>
        <p><strong>Parameter</strong></p>
          <pre><code>
  <strong>json-wrapper:</strong>{"time_session":{ :params }}
  <strong>end</strong> - optional DateTime
          </code></pre>
        <p><strong>Response</strong></p>
  <pre class="headers">Status 200 OK</pre>
  <pre><code>
{
    "time_session": {
        "id": 7,
        "start": "2001-01-13T12:00:00+01:00",
        "end": "2001-01-13T20:00:00+01:00",
        "task_id": 1,
        "user_id": 2
    }
}</code>
      </pre>
    </article>

<!--- //////////// Delete TimeSession ///////////////// -->
        <article id="delete_ts">
      <h3>Delete TimeSession</h3>
      <p><strong>Request</strong></p>
        <code><pre>DELETE /time_session/:id</pre></code>
        <p><strong>Response</strong>
        <pre class="headers no-response">Status 204 NO CONTENT</pre>
      </pre>

    </article>

</section>


</div>

</body>
</html>

